<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test-iOS-app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BB1CDF8C08CAFA6DA733DAF539A2F8145476C081</string>
				<key>dateExpires</key>
				<string>10/30/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M65VAM64KT.com.elliemae.test-iOS-app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>M65VAM64KT</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>M65VAM64KT.com.elliemae.test-iOS-app</string>
				</array>
			</dict>
			<key>name</key>
			<string>test-iOS-app.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d4a14661-b795-43d0-88cd-35d1118c5176</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M65VAM64KT</string>
				<key>name</key>
				<string>Ellie Mae, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
